*.log
*.pid
*.seed
node_modules
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.env
.directory
Screen Recording 2021-02-18 at 11.05.57 AM.mov
*.mov
Screen Shot 2021-02-17 at 5.12.35 AM
